[defaults]

# Inventory file
inventory = inventory

# Default SSH user
remote_user = ubuntu

# Disable SSH host key checking
host_key_checking = False

# SSH connection timeout
timeout = 30

# Disable retry files
retry_files_enabled = False

# Roles directory
roles_path = roles

# Hide deprecation warnings
deprecation_warnings = False

